
.header{
    padding: 15px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // justify-content: center;
    button{
        background: none;
        border: none;
        font-size: 20px;
        cursor: pointer;
        color: #ffffff;
        display: flex;
        align-items: center;
    }
}

.logo{
    align-items: center;
    justify-content: center;
    gap: 5px;
    display: flex;
    img{
        height: 50px;
    }
}